.kanban {
    display: flex;
    align-items: flex-start;
  }
  
  .kanban__section {
    width: 33%;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 18px;
    color: #000
  }
  
  .kanban__section ~ .kanban__section {
    margin-left: 10px;
  }
  
  .kanban__section__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0 20px;
  }
  
  .kanban__section__content > * ~ * {
    margin-top: 10px;
  }
  